@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@500&family=Roboto+Slab&display=swap');

/* font-family: 'Oxanium', cursive;
font-family: 'Roboto Slab', serif; */

*{
    box-sizing: border-box;
    color: #222;
}

header{
  background-color: #b1bfca;
  display:flex;
  flex-direction:column;
  border-bottom: solid darkgrey 1px;
  box-shadow: darkgrey 2px 2px 2px;
}

body{
  font-family: 'Roboto Slab', serif;
  background-color:#cbd9f28f;
  margin:0;  
}

main{
  width:90%;
  margin: auto;
}

header h1 {	
	margin: 0px;
  font-size: 2.5rem;
  text-align:center;
  font-family: 'Oxanium', cursive;
}

h2, h3 {
  font-family: 'Oxanium', cursive;
  margin:0;
}

#home{
  text-align: center;
  margin:auto;
}

.img-container-project{
  width:100%;
  margin:auto;
}

.img-container-about-me{
  width:80%
}

.about-me-container{
  display:flex;
  flex-direction: row;
}

.img-container{
  flex:1;
  padding: 2px;
}

nav a{
  font-family: 'Oxanium', cursive;
  font-size: 1rem;
}

img{
    width:100%;
}

hr{
  margin-top: 20px;
  margin-bottom: 20px;
}

.group{
  display:flex;
  flex-direction: column;
}

.group-row{
  display:flex;
  flex-direction: row;
}

.item{
  flex:1;
  padding:10px;
}

.profile-image{
  max-width: 500px;
  flex:1;  
  padding:10px;
}

nav{
  display:flex;
  align-items: center;
  justify-content: center;
  
}

nav ul{
  display:flex;
  padding:0;
  margin:0;
}

nav ul li{
  display: inline;
  padding:5px;
}

a:hover,a:visited, a:link, a:active{
  text-decoration: none;
  color:#666564;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 100px;
}

.description{
  padding-top: 5px;
  padding-bottom: 10px;
}



@media (min-width:680px){
  
}

@media (min-width:1000px){
  
}

